/*COMMON*/
a {
    transition: none;
}

a:hover {
    color: #00cccc;
    transition: none;
}

/*HEADER*/
#site-header {
    padding: 3em 3em;
    margin-bottom: 4rem;
    min-height: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

@media only screen and (max-width: 992px) {
    #site-header {
        padding: 1.5em 1.5em;
        margin-bottom: 2rem !important;
        min-height: 7em;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.navigation__title {
    flex: 1 0 auto;
}

.navigation__title a {
    display: block;
}

.navigation__title_name {
    line-height: 0.7;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.navigation__title_subname {
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 300;
}

.navigation__list {
    display: flex;
    flex: 1 0 auto;
    padding-left: 0;
    list-style: none;
}

.navigation-link {
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
}

.navigation-link:hover {
    background-color: #ededed;
    border-radius: 3px;
    color: #00cccc;
}

@media only screen and (min-width: 1240px) {

}

@media only screen and (max-width: 992px) {

    .navigation__title {
        width: 100%;
        text-align: center;
    }

    .navigation__title_name {
        font-size: 2rem;
    }

    .navigation__title_subname {
        font-size: 1.4rem;
        line-height: 0.9;
    }

    .navigation__list {
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 460px) {

    .navigation__title_name {
        line-height: 1;
    }
}

/*INDEX*/
.page-quote {
    margin: 0 0 1em 0;
    line-height: 1.2;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

.page-quote span {
    font-weight: 900;
}

/*FOOTER*/
html {
    position: relative;
    min-height: 100%;
}

#site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7em;
    width: 100%;
}

body {
    margin: 0 0 7em;
}

.site-footer__link {
    padding: 0 0.5em;
    font-size: 2rem;
}

.site-footer__link:hover {
    border-bottom: none !important;
    color: #00cccc !important;
    text-decoration: none;
}